body,html{
  min-height:100vh;
  background-position: 'center';
  background-size:cover;
  background-repeat: no-repeat;
  background-image: url("images/betterBox.png");
  margin:0;
  font-family: Sans-Serif;
  background-color: black;
}

.home{
  min-height:100vh;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcomeText{
  font-size:6rem;
  color:white;
  margin: 2rem;
}

.homeInfoContainer{
  display:flex;
  flex-direction:row;
}

.homeInfoImage{
  min-width: 20%;
  min-height: 20%;
}

.infoText{
  color:white;
  margin-bottom: 3rem;
  font-size:2rem;
}

.homePromptContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.promptText{
  color:white;
  margin-bottom: 2rem;
  font-size:2rem;
}

.homeButton{
  background-color:'white';
  color:'black';
  margin-right:2rem;
  font-size:2rem;
  padding:1rem 2rem 1rem 2rem;
  border-color:white;
  border-style:none;
  border-radius:0.5rem;
}

.homeButtonContainer{
  display:flex;
  flex-direction:row;
}

