.groceryListContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin: auto;
    background-size: cover;
    padding: 12rem;
    /* min-height:100vh; */
  }

  .listContainer{
    background-color:#FBEBDB ;
    font-family: "Helvetica Neue";
    padding:3rem;
  }

  .nextButton{
    background-color:white;
    color:'black';
    font-size:2rem;
    padding:1rem 2rem 1rem 2rem;
    border-color:white;
    border-style:none;
    border-radius:0.5rem;
    margin-top: 2rem;
    font-family: "Helvetica Neue";
    margin-left: 16px;
    margin-right: 16px;
  }

  .groceryItem {
    display: flex;
    justify-content: space-between; /* Add space between item and price */
    margin-bottom: 8px; /* Add margin between items */
  }
  
  .itemName {
    flex: 1; /* Allow item name to expand */
    margin-right: 8px; /* Add margin to separate item and price */
  }
  