  body,html{
    font-family: Sans-Serif;
  }

  .sendEmailDisplay{
    margin-top:10rem;
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
  }


  .emailButton{
    background-color:white;
    color:'black';
    margin-right:2rem;
    font-size:2rem;
    padding:1rem 2rem 1rem 2rem;
    border-color:white;
    border-style:none;
    border-radius:0.5rem;
    margin-top: 2rem;
  }

  .emailContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    background-color: #FBEBDB;
    width:42rem;
    padding:3rem;
  }


  .emailText{
    font-size:2rem;
    align-self: center;
  }