.header {
  font-family: "Helvetica Neue";
  font-size: 4rem;
  margin-bottom: 3rem;
  font-weight: 600;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 16rem;
}